# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Expo
.expo/
dist/
web-build/
.expo-shared/
prebuild-binaries/

# Android build artifacts
*.apk
*.aab
android/app/build/
android/.gradle/
android/build/
android/local.properties
android/GeneratedPluginRegistrant.java
android/*.keystore
!android/debug.keystore

# iOS build artifacts
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# MacOS
.DS_Store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
*.iml
.vscode/
